<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <test name="Regress">
        <classes>
            <class name="tests.End2EndTest">
                <methods>
                    <include name="infoAlertTest"/>
                    <include name="confirmAlertTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>